# Shortcuts
alias aliasconfig="vi $HOME/.aliases"
alias copyssh="pbcopy < $HOME/.ssh/id_ed25519.pub"
alias reloadcli="source $HOME/.zshrc"

# Directories
alias dotfiles="cd $DOTFILES"
alias library="cd $HOME/Library"
alias sites="cd $HOME/Sites"

# PHP
alias cfresh="rm -rf vendor/ composer.lock"

# Terraform
alias tf="terraform"
alias tfa="terraform apply"
alias tff="terraform fmt"
alias tfi="terraform init"
alias tfiu="terraform init -upgrade"
alias tfp="terraform plan"
alias tfs="terraform state"
alias tfw="terraform workspace"
alias tfwn="terraform workspace new"
alias tfws="terraform workspace select"

# JS
alias nfresh="rm -rf node_modules/ package-lock.json"

# Git
alias gac="git add . && git commit"
alias gc="git commit"
alias gcp="git checkout -"
alias gcb="git checkout -b"
alias gcm="git checkout main"
alias gl="git log --oneline --decorate --color"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gp="git push"
alias gs="git status"
alias gsid="git show"
alias nah="git reset --hard && git clean -df"

# CRON
alias acron="crontab ~/.cronjobs"
alias ecron="vi ~/.cronjobs"
alias rcron="crontab -r"
alias vcron="crontab -l"

# Docker
alias dcls="docker container ls"
alias dcrm="docker container rm"
alias deit="docker exec -it"
alias dils="docker image ls"
alias dirm="docker image rm"
alias drit="docker run -it --rm"
alias dvls="docker volume ls"
alias dvrm="docker volume rm"

# Hash
alias computesha256='openssl dgst -sha256'
alias computesha512='openssl dgst -sha512'
